
      .td-no {
         width: 60px;
         text-align: center;
      }

      .td-subject {}

      .td-writer {
         width: 120px;
         text-align: center;
      }

      .td-view-count {
         width: 80px;
         text-align: center;
      }

      .td-created-at {
         width: 200px;
         text-align: center;
      }
      .writer_idx {
         width : 150px;
      }