::-webkit-input-placeholder {
   font-size: 15px;
}

input.input-calendar.form-control {
   font-size: 20px;
   padding: 1px;
}
#CalName {
   font-size: 20px;
}

.innerDiv{
   
   margin: 0 auto;
}

#me {
   margin: 0 auto;
   overflow: scroll;
   min-width: 250px;
   max-width: 25vw;
}
#todo{
   height : 200px;
   margin: 0 auto;
   overflow: scroll;
   min-width: 250px;
   max-width: 25vw;
}
.aroundDiv{
   width : 100%;
}

.inlined {
   display: inline-block;
   margin-right: 5px;
}