::-webkit-input-placeholder {
   font-size: 15px;
}

input.input-calendar.form-control {
   font-size: 20px;
   padding: 1px;
}
#CalName {
   font-size: 20px;
}
#me {
   height: 60px;
   width: 50vw;
}

.aroundDiv{
   width : 100%;
}